nav{
    display: flex;
    /* justify-content:center; */
    align-items: center;
    
  
}
.logo-container{
    display: flex;
    align-items: center;

}
.logo-icon{
    height: 42px;
    width: 42px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: yellowgreen;
}
.logo-icon img{
    width: 100%;
    height: auto;
    
} 

.logo-text {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    line-height: 1;
    font-size: small;
}
.KV{
    font-size: 50px;
    color: green;
    padding: 10px;

} 
.full-name {
  
    font-size: small;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}
.li{
    text-align: center;
    margin: 0 auto;
}
button{
    background-color: green;
    color: aliceblue;
    border-radius: 15px;

}
button:hover{
    color:chartreuse;
}
.li ul a{
    color: aqua;
}
.li  li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    background-color: aqua;
}

.hero-section {
    height:0 auto;
    width: 0 auto;
  
  



 
    
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
    
    
    
    padding-top: 150px;   
    padding-bottom: 150px;

                   
    display: flex;
    flex-direction: column;      
    justify-content: center; 
    align-items: center;    
     
    text-align: center;
    background-color:grey;               
}
.highlight{
    color: green;
}
.badge{
    color: green;
    background-color: aliceblue;
    padding: 9px;
    font-size: small;
    border-radius: 10px;
    
}

.hero-content h1{
 
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;

text-align: center;

}
.hero-content{
    padding: 120px 70px 120px 80px;
}

    
 
.hero-content p{
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
}
.section-container{
    text-align: center;
    
}
.section-container p{
    font-size: small;
    color: gray;

}
.section-container h2{
    font-size: 2em;
}
.card-container{
    display: flex;
    gap: 120px;
    border: 50px;
    justify-content: center;
  
}
.card{
   
    border:  solid plum;

    /
    border-radius: 10px;
    box-shadow:0 10px 10px 10px gray ;
    
width:150px;
height: 150px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:3px;
padding: 24px;


}
.card img{
   width: 25px;           
    height: auto;
    object-fit: contain;
}

.solution-section {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 60px; 
    padding: 120px; 
    max-width: 1360px; 
    margin: 0 auto;
}

.image-content {
    flex: 1; 
}
.image-content img{
    border-radius: 15px;
    border-color: aquamarine;
    box-shadow: 0 10px 10px 10px;
}

.text-content {
    flex: 1; 
    text-align: left; 
}
.text-content h1{
    font: size 1.5em;;
}
.image-content img {
    max-width: 100%;
    height: auto;
}


.features-list { 
    display: flex;
    flex-direction: column !important; 
    gap: 15px;
    text-align: left;
    margin-top: 20px;
}

.features-list p {
    margin: 0;
    display: block; 
}

